<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
<% @tweets.each do |tt| %>
    <p>
        <%= tt.message %>
        <%= ((Time.current - tt.tdat) / 60).round  %> 分
        <%= link_to '削除', "/tweets/#{tt.id}", method: :delete %>
        <%= link_to '表示', "/tweets/#{tt.id}" %>
        <%= link_to '編集', "/tweets/#{tt.id}/edit" %>
    </p>
<% end %>
<p><%= link_to '新規追加', 'tweets/new' %></p>