<!DOCTYPE html>
<html>
  <head>
    <title>Myapp1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <%= render "header" %>
      </div>
      <div id="sidebar">
        <%= render "sidebar" %>
      </div>
      <div id="content">
        <div>
    <figure>
      <img src="assets/Icon.jpg">
    </figure>
    <div class="userName">近大<span class="nameID">@Kindai</span></div>
    <div class="text">
      <%= yield %>
    </div>
</div>
      </div>
      <div id="footer">
        <%= render "footer" %>
      </div>
    </div>
  </body>
</html>
